* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

p {
    color: #727272;
}

/* menu css start  */
header {
    background: rgba(255, 144, 14, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-title {
    padding-top: 50px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.menu ul {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.menu ul li a {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* header css start  */
.header-detiles {
    padding-top: 120px;
    text-align: center;
}

.header-heading {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.header-discription {
    color: #727272;
    padding-top: 30px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin: 32px 0 50px;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.header-detiles img {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 45px;
}

/* features section css start  */
.features {
    display: flex;
    margin-top: 85px;
    align-items: center;
    margin-bottom: 130px;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-detiles {
    padding-left: 73px;
}

.features-heading {
    font-size: 45px;
    font-weight: 500;
}

.features-heading strong {
    color: #131313;
}

.features-heading span {
    color: #FF900E;
}

/* about section css start */

.about-item {
    gap: 146px;
    display: flex;
    align-items: center;
}

.about-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.about-discription {
    margin-bottom: 30px;
}

.about-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.about-card-heading {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.about-img {
    position: relative;
}

/* exprience css start  */
.experience {
    padding: 45px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    position: absolute;
    bottom: -60px;
    left: -90px;
}

.experience h2 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.experience p {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* some facts css start  */
.some-facts {
    margin-top: 130px;
    margin-bottom: 180px;
}

.some-facts-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-facts-discription {
    color: #727272;
}

.some-facts-item {
    display: flex;
    justify-content: space-evenly;
}

.some-item {
    padding: 46px 36px 60px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    margin-top: 100px;
}

.some-item:hover {
    transform: rotate(45deg);
}

.item-count {
    padding: 10px 0 5px;
    font-size: 45px;
    color: #424242;
}

.item-count p {
    font-size: 20px;
    color: #727272;
}
/* sponspors css start  */
.our-sponspors {
    text-align: center;
}

.shop {
    display: flex;
    justify-content: space-between;
}

.shop img {
    filter: grayscale(100%);
}

.sponspors-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponspors-discription {
    color: #727272;
    padding: 24px 0 50px;
}
/* service css start  */
.service-item {
    display: flex;
    gap: 30px;
}

.providing-service {
    margin-top: 130px;
    text-align: center;
}

.providing-service-heading {
    font-weight: 700;
    font-size: 48px;
    color: #131313;
    margin-bottom: 71px;
}

.service-card {
    padding: 54px 22px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.service-card .design {
    font-size: 57px;
}

.service-item-heading {
    padding: 49px 0 20px;
    font-weight: 700;
    font-size: 24px;
    color: #424242;
}

.service-item-description {
    padding-bottom: 25px;

}
.service-card a{
    color: #FF5733;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* footer css start  */

.footer-bg {
    margin: 130px 0 216px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.footer-discription {
    font-size: 20px;
    color: #424242;
    padding: 39px 0;
}


/* media query seaction  */

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }

    .team {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-detiles {
        padding-left: 25px;
        padding-top: 15px;
    }

    .about-item {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        width: 100%;
    }


    .some-facts-item {
        flex-direction: column;
    }

    .shop {
        flex-direction: column;
    }

    .shop img {
        padding: 20px 0;
    }

    .experience {
        bottom: 0;
        left: 0;
        position: relative;
    }
    .service-item{
        flex-direction: column;
    }

}